body{
    border: 2px solid #8257e6;
    max-width: 450px;
    margin: 10px auto;
    border-radius:0.5rem ;
}
section.repository-list{
    text-align: center;
  

    h1{
        margin-top: 16px;
        margin-bottom: 16px;
        color:#8257e6;
        font-weight: bold;
    }
    ul{
        list-style: none;

        li{
            border: 1px solid #444;
            margin: 10px 10px;
            
           & +li{
               margin-top: 20px;
           }
           a{
               display: inline-block;
               margin-top: 16px;
               text-decoration: none;
               color: #8257e6;
           }
        }
    }
}